
{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">



<!DOCTYPE HTML>

<html
	
	<head>
		<title>Erick Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="{% static 'images/profile.jpg' %}" alt="" /></a>
					
					<a href="#">erickkvargas@gmail.com <br/></a>
					<h1>Hi! My name is <strong>Erick</strong><br/>
					
										
							
						
					I enjoy learning new technologies and creating quality products <br />
					 </h1>
				
				</div>
			</header>





		<!-- Main -->
			<div id="main">
				
				<!-- One -->
					<section id="one">
						<header class="major">
							<h2><u>Full Stack Software Engineer</u>/
							<u>AWS Cloud Developer</u></h2>
							<img class="mlogo"     src="{% static 'images/autumm.png' %}" alt="" />
						</header>

						<p><strong>I enjoy building quality products that surpass user expectations and always excited to learn new technologies! I graduated from Washingotn State University, originally in Chemistry, but soon discovered my passion for software development, and enrolled in FlatIron Schools Full-Stack: Software Engineer program. Where I learned the fundamentals of front end and back end development, and applied those skills by building and collaborating in different types of projects. Currently have three certifications from AWS and plan on achieving more!</strong> </p>
						<div class="techitem">
							<img class="tech"     src="{% static 'images/stack/aws.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/python.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/mongodb.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/javascript.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/react.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/node-js.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/html.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/css.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/postgresql.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/sql.png' %}" alt="" />
							<img class="tech"     src="{% static 'images/stack/ruby.png' %}" alt="" />
						</div>
<!-- 
						<h2><u>Technologies:</u></h2>
						<div class="techstack">
							<div class="techitem">
								<img class="tech"     src="{% static 'images/stack/aws.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/python.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/mongodb.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/javascript.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/react.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/node-js.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/html.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/css.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/postgresql.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/sql.png' %}" alt="" />
								<img class="tech"     src="{% static 'images/stack/ruby.png' %}" alt="" />
							</div>
								
						</div> -->


						

						<!-- <ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</section>







				<!-- Two -->
					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/book2.png' %}" class="image fit thumb"><img src="{% static 'images/thumbs/book2.png' %}" alt="" /></a>
								<h3>BookClubApp</h3>
								<p>This project was indended to be a social media app for books. This implements the use of googlebooksAPI, which allows users to search any book topic. </p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/book5.png' %}" class="image fit thumb"><img src="{% static 'images/fulls/book5.png' %}" alt="" /></a>
								<h3>BookClubApp Cont..</h3>
								<p>This project also made use of Ruby on Rails/PostgresQL, where users can create accounts, and have their own personal feed, library and favorite books. Authenticaiton was added so each users could access their own personal accounts.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/john4.png' %}"class="image fit thumb"><img src="{% static 'images/fulls/john4.png' %}" alt="" /></a>
								<h3>Johns Homebrew</h3>
								<p>This is one of my favorite projects, this was a website I designed for a local business here, this project made use of mainly React, Bootstrap, and a little bit of SemanticUI. </p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/john5.png' %}" class="image fit thumb"><img src="{% static 'images/fulls/john5.png' %}" alt="" /></a>
								<h3>Homebrew Cont...</h3>
								<p>A big part of this project involved facilitating the use of already existing documentation from the previous website.   </p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/pet2.png' %}" class="image fit thumb"><img src="{% static 'images/fulls/pet2.png' %}" alt="" /></a>
								<h3>AdoptionApp</h3>
								<p>This project was one of my first collaborations at FlatIron school, the main goal was to develop relationships between user models and the animal pet models up for adotion. This was done via Sinatra, where we tested and developed different types of components.  </p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/pet3.png' %}" class="image fit thumb"><img src="{% static 'images/fulls/pet3.png' %}" alt="" /></a>
								<h3>AdoptionApp</h3>
								<p>Active record was used to facilitate database usage, instead of using SQL we decided to use the Ruby language to manage the database. </p>
							</article>
						</div>



						<ul class="actions">
							<li><a href="https://github.com/Akateno" class="button">Full Portfolio</a></li>
						</ul>
					</section>

				<!-- Three -->
						<!-- <h2>Get In Touch</h2>
						<p>Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.</p>
						<div class="row">
							<div class="col-8 col-12-small">
								<form method="post" action="#">
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
								</form>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>

							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
										1234 Somewhere Rd.<br />
										Nashville, TN 00000<br />
										United States
									</li>
									<li>
										<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
										000-000-0000
									</li>
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a href="#">hello@untitled.tld</a>
									</li>
								</ul>
							</div>


						</div>
					</section><section id="three"> -->
					

				

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						
						<li><a href="https://github.com/Akateno" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/erickkvargas/" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<!-- <script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.poptrox.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			 -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>


			
	</body>
</html>